body {
  z-index: 0;
  font-family: 'EB Garamond', serif;
  background-color: #012f5a;
  padding-bottom: 100px;
}
.body-outer {
  -webkit-box-shadow: 0px 21px 233px 76px rgba(255,255,255,.7);
  -moz-box-shadow: 0px 21px 233px 76px rgba(255,255,255,.7);
  box-shadow: 0px 21px 233px 76px rgba(255,255,255,.7);
}
//////////////////////
//MARK.JS INDICATOR///
//////////////////////
.mark {
  padding: 0;
}
//END OF MARK.JS INDICATOR///
.bg-black{
  background-color: #111213;
}
.container{
  max-width: 960px;
}

.navbar-gradient {
  background: rgba(17,18,19,1);
  background: -moz-linear-gradient(left, rgba(17,18,19,1) 54%, rgba(38,38,39,1) 85%, rgba(38,38,39,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(54%, rgba(17,18,19,1)), color-stop(85%, rgba(38,38,39,1)), color-stop(100%, rgba(38,38,39,1)));
  background: -webkit-linear-gradient(left, rgba(17,18,19,1) 54%, rgba(38,38,39,1) 85%, rgba(38,38,39,1) 100%);
  background: -o-linear-gradient(left, rgba(17,18,19,1) 54%, rgba(38,38,39,1) 85%, rgba(38,38,39,1) 100%);
  background: -ms-linear-gradient(left, rgba(17,18,19,1) 54%, rgba(38,38,39,1) 85%, rgba(38,38,39,1) 100%);
  background: linear-gradient(to right, rgba(17,18,19,1) 54%, rgba(38,38,39,1) 85%, rgba(38,38,39,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111213', endColorstr='#262627', GradientType=1 );
}
  .navbar{
  .search-outer {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: .8rem;
    line-height: 1;
  }
  .search-inner {
    font-family: Times, "Times New Roman", serif;
    color: #8A8A8A;
    padding-left: 30px;
    border:2px solid #aaa;
    width: 130px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: inset 0px 0px 22px -6px rgba(38,38,39,1);
    -moz-box-shadow: inset 0px 0px 22px -6px rgba(38,38,39,1);
    box-shadow: inset 0px 0px 22px -6px rgba(38,38,39,1);

    &:focus {
      border-color: #000;
      box-shadow:0 0 8px 0 #000;
    }
  }
  .fa-position {
    position: absolute;
    left: 9px;
    top: calc(50% - 0.5em);
    color:#aaa;
    }
  .nav-link {
    padding: .2rem 1rem;
  }
}
.carousel {
  background: black;
  .carousel-item {
    height: 362px;
   img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 362px;
    width: 100%;
    }
  }
  .carousel-indicators {
    right: inherit;
    margin-left: 2%;
   li {
    width: 10px;
    height: 10px;
    background-color: rgba(66, 139, 202, .5);
    margin-right: 10px;
    }
   .active {
    background-color: #a3a3a3;
    }
  }
}
.blog-section{
    .img{
    border: solid 4px #f6f6f6;
    box-shadow: 0 0 0 1px #fafafa, 0 0 0 1px #f6f6f6;
  }
  .posted{
    font-size: 65%;
  }
  .btn-post {
    color: #E1E1E1;
    width: 142px;
    height: 28px;
    font-size: 11px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-shadow: 0 -1px 0 #7B7B7B;
    -webkit-box-shadow: 1px 2px 2px 0px rgba(130,130,130,1);
    -moz-box-shadow: 1px 2px 2px 0px rgba(130,130,130,1);
    box-shadow: 1px 2px 2px 0px rgba(130,130,130,1);
    background-image: -webkit-linear-gradient(bottom, #45809e -23%, #5094b6 51%, #65b8e3 100%);
    background-image: -o-linear-gradient(bottom, #45809e -23%, #5094b6 51%, #65b8e3 100%);
    background-image: linear-gradient(to top, #45809e -23%, #5094b6 51%, #65b8e3 100%);
    
      &:hover{
        background-color: #5CA9D1;
        color: #fff;
      }
    }
  .separator{
    display: block;
    border: none;
    color: white;
    height: 1px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#eeeeee), to(#fff));
  }
  .sidebar {
    background: rgba(231,231,231,1);
    background: -moz-linear-gradient(top, rgba(231,231,231,1) 0%, rgba(231,231,231,1) 31%, rgba(255,255,255,1) 76%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(231,231,231,1)), color-stop(31%, rgba(231,231,231,1)), color-stop(76%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(231,231,231,1) 0%, rgba(231,231,231,1) 31%, rgba(255,255,255,1) 76%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(231,231,231,1) 0%, rgba(231,231,231,1) 31%, rgba(255,255,255,1) 76%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(231,231,231,1) 0%, rgba(231,231,231,1) 31%, rgba(255,255,255,1) 76%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(231,231,231,1) 0%, rgba(231,231,231,1) 31%, rgba(255,255,255,1) 76%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#ffffff', GradientType=0 );
  }
}
.pagination{
  .page-link {
    font-family: Arial, sans-serif;
    color: #c1c1c1;
    background-color: #eeeeee;
    border: 0;
    padding: 0.25rem .6rem!important;

    &:hover {
      color: #ffffff;
      background-color: #c1c1c1;
    }
  }
  .btn-pagination {
    font-family: Arial, sans-serif;
    color: #c1c1c1;
    background-color: #eeeeee;
    border: 0;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    }
  .pagination-active {
    z-index: 1;
    color: #ffffff!important;
    background-color: #c1c1c1!important;
  }
}
.sponsor-item {
  height: 76px;
  width: 128px;
  border: solid 4px #f6f6f6;
  box-shadow: 0 0 0 1px #fafafa, 0 0 0 1px #f6f6f6;
}


.footer {
  background-color: #111213;
  margin: 0px auto;
  .flickr-item{
    border: 1px solid #6E6D6D;
  }
  .footer-dark-grey {
    color: #6E6D6D;
  }
  .footer-light-grey {
    color: #a3a3a3;
  }
  .footer-font-size {
    font-size: 85%;
  }
  address {
    font-size: 80%;
    margin: 0px;
  }
  .footer-shadow {
    -webkit-box-shadow: 0px 33px 29px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0px 33px 29px 2px rgba(0,0,0,.2);
    box-shadow: 0px 33px 29px 2px rgba(0,0,0,.2);
  }
}
